body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.sections-holder {
  width: 100%;
  min-height: 100vh;
}


.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F3EAC2;
}


.upper-section {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.lower-section {
  flex: 3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

/* Navigation and logo styles */
.logo-container {
  margin-right:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  min-width: 50%;;
  margin-right: 20px;
}

.navigation .large-screen {
  display: flex; 
  align-items: center; 
  width: 100%; 
  padding: 20px 10px; 
  border-radius: 5px; 
  
}

.navigation .large-screen a {
  text-decoration: none; 
  color: inherit;
  font-size: 1rem; 
  margin: 0;
  padding: 0; 
  position: relative; 
  transition: color 0.2s ease-in-out; 
}

.navigation .large-screen a:hover {
  color: #ddd; 
}

.navigation .large-screen a::after {
  content: ""; 
  position: absolute; 
  bottom: -3px; 
  left: 0;
  width: 2px; 
  height: 3px; 
  background-color: #305750;
  transition: all 0.2s ease-in-out; 
}

.navigation .large-screen a:hover::after {
  width: 100%; 
}


.large-screen ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.navigation li {
  margin: 0 15px;
}

.navigation a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: fixed; 
  top: 1rem;
  right: 1rem; 
  background-color: #f0f0f0; 
  border-radius: 5px;
  padding: 10px; 
}

.bar {
  background-color: black;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hamburger-menu.active .bar:nth-child(1) {
  transition: transform 0.5s ease, opacity 0.5s ease; 
  transform: translateY(4px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
  transition: transform 0.5s ease, opacity 0.5s ease; 
  transform: translateY(-10px) rotate(-45deg);
}

.lower-section {
  border-radius: 30px; 
  overflow: hidden; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}


.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

/* Home info styles */
.home {
  text-align: center;
}
.lower-section h1 {
  font-family: "Playfair Display", serif;
  color: #e5d7c8; 
  font-size: 3.5rem; 
  text-align: center; 
  margin-bottom: 1rem; 
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.lower-section h1::before {
  content: 'Relax rejuvenate with';
  display: block;
}

.lower-section h1::after {
  content: 'our expert massages';
  display: block;
}

.lower-section p::before {
  content: 'Experience the ultimate relaxation and relief from stress ';
  display: block;
  font-family: "Outfit", sans-serif; 
  color: #f7f3f0; 
  font-size: 1rem; 
  margin-bottom: .5rem; 
}

.lower-section p::after {
  content: ' with our wide range of massage services';
  display: block;
  font-family: "Outfit", sans-serif; 
  color: #f7f3f0; 
  font-size: 1rem; 
  margin-bottom: 1rem;
}


.book-now-button1 {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #305750;
  color: white;
  border: none;
  cursor: pointer;
}

.book-now-button:hover {
  background-color:  #4a776c;
}

.small-screen.inactive {
  display: none;
}

.small-screen .active {
  display: flex;
  flex-direction: column;
}

/* Styles for the side show */
.navigation .small-screen.active {
  transform: translateX(0); 
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7); 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 70%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  z-index: 10; 
  border-radius: 0 2.5em 2.5em 0; 
}

.navigation .small-screen.inactive {
  transform: translateX(-100%); 
  transition: transform 0.3s ease-in-out;
}

.navigation .small-screen.active ul {
  list-style-type: none; 
  padding: 20px; 
  margin: 0; 
  display: flex; 
  flex-direction: column; 
  width: 100%; 
  height: 100%;
  justify-content: space-around;
}

.navigation .small-screen.active li {
  margin: 10px 0; 
  text-align: center; 
}

.navigation .small-screen.active a {
  text-decoration: none; 
  color: #fff; 
  font-family: "Open Sans", sans-serif; 
  font-size: 1.1rem; 
  transition: color 0.2s ease-in-out; /* Add transition for color change */
}

.navigation .small-screen.active a:hover {
  color: #305750;
}



@media (max-width: 768px) {
  .lower-section h1 {
    font-size: 2em;
  }
  .lower-section p {
    font-size: 1.5em;
  }
  .hamburger-menu {
    display: flex;
  }

  .navigation.inactive nav {
    display: none;
  }

  .navigation.active nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #f0f0f0;
    width: 100%;
    text-align: center;
  }

  .upper-section {
    display: flex;
    justify-content: flex-start;
  }
  
  .logo-container {
    align-self: flex-start;
    margin: 20px;
  }
}
.back-arrow {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 20px; 
  height: 25px; 
  cursor: pointer;
}

.left-arrow,
.right-arrow {
  position: absolute;
  width: 5px; 
  height: 100%; 
  background-color: black; 
}

.left-arrow {
  left: 0;
  transform: rotate(45deg); /* Rotate the left line */
}

.right-arrow {
  right: 0;
  transform: rotate(-45deg); /* Rotate the right line */
}
/* Styling for the navigation links */
.navigation .large-screen a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent element */
  font-size: 1rem; 
  margin: 0; 
  padding: 0;
  position: relative; 
  transition: color 0.2s ease-in-out; 
}

/* Styling specifically for the contact link */
.navigation .large-screen a[href="#contacts"] {
  color: white; 
  background-color: #305750;
  padding: 10px 15px; 
  border-radius: 5px;
}
.navigation .large-screen a[href="#contacts"]:hover {
  color: #333; 
  background-color: #305750; 
}


.navigation .large-screen a[href="#contacts"]::after {
  background-color: #006d5b; /* Dark teal color for the indicator */
}
/* WhatsApp icon styles */
.whatsapp-icon {
  position: fixed; 
  bottom: .8em; 
  left: .8em;
  z-index: 9999; 
  font-size: 3.5em; 
  color: rgb(2, 163, 2); 
  cursor: pointer; 
  animation: bounce 1s infinite; /* Add bounce animation */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end position */
  }
  50% {
    transform: translateY(-10px); /* Bounce position */
  }
}


.whatsapp-icon:hover {
  animation: none; /* Disable animation on hover */
  transform: scale(1.1); 
}

